# Docker artifacts
*.log
*.pid
.env
secrets/
prom-data/
grafana-data/
# Node exporter / Prometheus runtime data
prometheus/data/
__pycache__/
etc-pihole/*
!etc-pihole/hosts/
!etc-pihole/hosts/custom.list
etc-dnsmasq.d/
pi-hole-logs/
registry-data/