PI_IP_ADDRESS=network address of the pi itself, ex. 127.0.0.1, 192.168.1.123
PIHOLE_PASSWORD=the admin interface password, this will be exposed on the internet if you use the cloudflared tunnel
GRAFANA_USER=the grafana admin username, this will be exposed on the internet if you use the cloudflared tunnel
GRAFANA_PASSWORD=the grafana admin password, this will be exposed on the internet if you use the cloudflared tunnel
CLOUDFLARED_DNS=The FQDN for pihole admin
CLOUDFLARED_GRAFANA=The FQDN for grafana
CLOUDFLARED_CERTS_DOMAIN=the domain name of your cloudflared domain, if your cloudflared domain was mydogskip.com, this would be mydogskip