http:
  routers:
    pihole:
      rule: "Host(`dns.devdevdeveau.net`)"   # public hostname for the UI
      entryPoints:
        - websecure
      tls: {}                                # terminate TLS at Traefik (origin cert from tls.yml)
      service: pihole
      middlewares:
        - pihole-secure

  services:
    pihole:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8080"   # CHANGE if your Pi-hole UI uses another port
        passHostHeader: true

  middlewares:
    pihole-secure:
      headers:
        sslRedirect: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        # (optional) add proxy headers often used by apps behind TLS
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "dns.devdevdeveau.net"
